<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>常用</string>
		<key>detailArr</key>
		<array>
			<string>魔术师</string>
			<string>观众</string>
			<string>观众选的牌</string>
			<string>签名牌</string>
			<string>顶牌</string>
			<string>底牌</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>指令</string>
		<key>detailArr</key>
		<array>
			<string>请观众洗一下扑克牌</string>
			<string>让观众任意选择一张牌</string>
			<string>请观众向其他人展示他所选择的牌</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>秘密</string>
		<key>detailArr</key>
		<array>
			<string>记住底牌</string>
			<string>记住顶牌</string>
			<string>DL, 向观众展示顶牌</string>
			<string>将观众的牌控顶</string>
			<string>将观众的牌控底</string>
			<string>palm牌</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>扑克牌</string>
		<key>detailArr</key>
		<array>
			<string>♠︎A</string>
			<string>♠︎2</string>
			<string>♠︎3</string>
			<string>♠︎4</string>
			<string>♠︎5</string>
			<string>♠︎6</string>
			<string>♠︎7</string>
			<string>♠︎8</string>
			<string>♠︎9</string>
			<string>♠︎10</string>
			<string>♠︎J</string>
			<string>♠︎Q</string>
			<string>♠︎K</string>
			<string>♥︎A</string>
			<string>♥︎2</string>
			<string>♥︎3</string>
			<string>♥︎4</string>
			<string>♥︎5</string>
			<string>♥︎6</string>
			<string>♥︎7</string>
			<string>♥︎8</string>
			<string>♥︎9</string>
			<string>♥︎10</string>
			<string>♥︎J</string>
			<string>♥︎Q</string>
			<string>♥︎K</string>
			<string>♣︎A</string>
			<string>♣︎2</string>
			<string>♣︎3</string>
			<string>♣︎4</string>
			<string>♣︎5</string>
			<string>♣︎6</string>
			<string>♣︎7</string>
			<string>♣︎8</string>
			<string>♣︎9</string>
			<string>♣︎10</string>
			<string>♣︎J</string>
			<string>♣︎Q</string>
			<string>♣︎K</string>
			<string>♦︎A</string>
			<string>♦︎2</string>
			<string>♦︎3</string>
			<string>♦︎4</string>
			<string>♦︎5</string>
			<string>♦︎6</string>
			<string>♦︎7</string>
			<string>♦︎8</string>
			<string>♦︎9</string>
			<string>♦︎10</string>
			<string>♦︎J</string>
			<string>♦︎Q</string>
			<string>♦︎K</string>
		</array>
	</dict>
</array>
</plist>
